<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>Register</title>
</head>
<body>
<main class="container">
    <article>
        <h1>Register</h1>
        <form th:action="@{/registration}" th:object="${user}" method="post">
            <div>
                <label for="firstName">First Name:</label>
                <input id="firstName" type="text" th:field="*{firstName}"/>
            </div>
            <div>
                <label for="lastName">Last Name:</label>
                <input id="lastName" type="text" th:field="*{lastName}"/>
            </div>
            <div>
                <label for="email">Email:</label>
                <input id="email" type="text" th:field="*{email}"/>
            </div>
            <div>
                <label for="password">Password:</label>
                <input id="password" type="password" th:field="*{password}"/>
            </div>
            <div>
                <button type="submit">Register</button>
            </div>
        </form>
    </article>
</main>
</body>
</html>